	<% if session[:user_id] != @user.id %>
	 <% if User.find_by_id(session[:user_id]).hasFollowedHim(@user.id) %>
      
        <a href="/follows/destroy/<%=@user.id%>" class="button red">
            Unfollow
        </a>
      
    <% else %>
      
        <a href="/follows/new/<%=@user.id%>" class="button blue">
            Follow
        </a>
      
    <% end %>
    <% end %>



	<% if session[:user_id] == @user.id %>
	
	<a href="/users/<%=@user.id%>/edit" style="width:40px;text-align:center" class="button green">
			Edit 
	</a>	
	
	<% end %>

	
        <% if @pictures != nil%>
		  <% for @picture in @pictures %>
            <div class = "item" >
                <a href="/photos/<%=@picture.id%>">
                  <div class = "itemimage">
                  <%= image_tag @picture.image_url(:thumb).to_s %>
                  </div>
                </a>
            </div>
          <% end %>
        <% end %>

<!--insideboxmiddle-->

<script > 
var $container = $('#container');
$container.imagesLoaded(function(){
  $container.masonry({
    itemSelector : '.item',
    columnWidth : 240
  });
});
</script>