      <%= image_tag @user.image_url(:supertinythumb).to_s%>
   
		 
  					<%= @user.username %> 
		
	
			
  				<%= @user.email %>
			
	
			<a href="/follows/show/<%=@user.id%>" class="ddm" >
                                    <span class="icon icon104">
                                    </span>
                                    <span class="label">Following <%= "     " + Follow.where(:follower_id => @user.id).count.to_s%>
                                    </span>
                                </a>
                                <a href="/follows/present/<%=@user.id%>" class="ddm" >
                                    <span class="icon icon127">
                                    </span>
                                    <span class="label">
                                        Followed by  <%= "     " + Follow.where(:followed_id => @user.id).count.to_s%>
                                    </span>
                                </a>


	<% if session[:user_id] != @user.id %>
	 <% if User.find_by_id(session[:user_id]).hasFollowedHim(@user.id) %>
      
        <a href="/follows/destroy/<%=@user.id%>" class="button red">
            Unfollow
        </a>
      
    <% else %>
      
        <a href="/follows/new/<%=@user.id%>" class="button blue">
            Follow
        </a>
      
    <% end %>
    <% end %>



	<% if session[:user_id] == @user.id %>
	
	<a href="/users/<%=@user.id%>/edit" style="width:40px;text-align:center" class="button green">
			Edit 
	</a>	
	
	<% end %>

	
        <% if @pictures != nil%>
		  <% for @picture in @pictures %>
            <div class = "item" >
                <a href="/photos/<%=@picture.id%>">
                  <div class = "itemimage">
                  <%= image_tag @picture.image_url(:thumb).to_s %>
                  </div>
                </a>
            </div>
          <% end %>
        <% end %>

<!--insideboxmiddle-->

<script > 
var $container = $('#container');
$container.imagesLoaded(function(){
  $container.masonry({
    itemSelector : '.item',
    columnWidth : 240
  });
});
</script>