<% if @pictures != nil%>
    <% for @picture in @pictures do %>        
        <div class="px_home_image_border" >
    
            <div class="px_home_image_main_div">
                
                <div class="px_home_image_top">
                  <div class="px_home_image_inner">
                  </div>
                  <div class="px_home_image_inner">
                  </div>
                  <div class="px_home_image_inner">
                  </div>
                  <div class="px_home_image_inner">
                  </div>
                  <div class="px_home_image_inner">
                  </div>
                  <div class="px_home_image_inner">
                  </div>
                  <div class="px_home_image_inner">
                  </div>
                </div>
                
                <div class="px_home_image_middle">
                    <div class="px_home_image_middle_left" >
                          <a href="photos/<%=@picture.id%>">
                            <%= image_tag @picture.image, :class => 'px_home_image_show'%>
                          </a>
                    </div>
                    <div class="px_home_image_middle_right">
                          <a href = "/users/<%=@picture.user_id%>">
                              <%= image_tag User.find_by_id(@picture.user_id).image_url, :class=>'px_home_user_image',:style=>'border-radius:40%;'%>
                          </a>
                          <p style="text-align:center; color:white;" class="px_home_username"><%= User.find_by_id(@picture.user_id).username%></p>
                          
                    </div>
                </div>
                

                <div class="px_home_image_bottom">
                    <div class="px_home_image_created">
                      <span style="float:left; font-size:20px; margin-left:3%;"><%= @picture.detail %></span><br/>
                      <span style="float:right; font-size:11px; margin-right:3%;"><%= @picture.created_at %></span>
                    </div>

                   
                </div>
            </div>
            <div class="px_home_image_description"><span><%= @picture.gettag %></span></div>
        </div>
    <% end %>
<% end %>
<script > 
var $container = $('#container');
$container.imagesLoaded(function(){
  $container.masonry({
    itemSelector : '.item',
    columnWidth : 240
  });
});
</script>

