<div style=" display:block;text-align:center; color:white;">
    Found <%=@users.count.to_s%> users and <%=@photos.count.to_s%> pictures
</div>

<% if @users != nil%>
   <% @users.each do |user| %>
      <div style="height:300px; width:500px; margin:auto; margin-top:2%; padding-top:2%; background-color:rgba(255,255,255,0.7); text-align:center;">     
         <a href = "/users/<%=user.id%>">
          
            <%= image_tag user.image_url().to_s, :style=>'height:50%; width:30%; border-radius:2%;'%>
          
          </a>
          <br/>
          <%= user.username %>
          <br/>
          <%= user.email %>
          <p>   
            <a href="/follows/show/<%=user.id%>" class="ddm" style="margin-right:2%; text-decoration:none;" >
                <span class="label">
                    Following <%= "     " + Follow.where(:follower_id => user.id).count.to_s%>
                </span>
            </a>
            <a href="/follows/present/<%=user.id%>" class="ddm" style="margin-right:2%; text-decoration:none;">
                <span class="icon icon127">
                </span>
                <span class="label">
                    Followed by  <%= "     " + Follow.where(:followed_id => user.id).count.to_s%>
                </span>
            </a>


          <% if @user.hasFollowedHim(user.id) %>
           
              <a href="/follows/destroy/<%=user.id%>" style="margin-right:2%; text-decoration:none;">
                  Unfollow
              </a>
            
          <% else %>
            
              <a href="/follows/new/<%=user.id%>" style="margin-right:2%; text-decoration:none;">
                  Follow
              </a>
            
          <% end %>

        </p>
      </div>  
     <% end %>
    
<% end %>

<br />

  
        <% if @photos != nil%>
      <% for @photo in @photos %>
            <div style="height:300px; width:500px; margin:auto; margin-top:2%; padding-top:1.8%; background-color:rgba(255,255,255,0.7); text-align:center;">
                <a href="photos/<%=@photo.id%>">
                  <%= image_tag @photo.image_url().to_s, :style=>'width:95%; height:95%;' %>
                </a>
                 
                
            </div>
          <% end %>
        <% end %>
</div>

<script > 
var $container = $('#container');
$container.imagesLoaded(function(){
  $container.masonry({
    itemSelector : '.item',
    columnWidth : 240
  });
});
</script>