<div style="display:inline-block; margin-left:3%; float:left;">
	<%= image_tag @photo.image_url(:detail).to_s, :style=>'height:460px; width:600px;'%>

</div>
<div style="background-color:white; height:460px; overflow:auto;display:inline-block; margin:0 3% 0 1%; float:right;">
	<p style="text-align:center;font-size:16px; width:300px;">
		Detail: <%= @photo.detail %>
	 	<span style="background-color:blue; border-radius:10%; padding-left:1%; padding-right:1%;font-size:18px; "><%= @photo.gettag %></span>
	  	<a href="https://twitter.com/share" class="twitter-share-button" data-text="I like this picture" data-size="large" data-count="none">Tweet</a>
  	</p>

 	<% if @photo.user_id == session[:user_id] %>
		<a href="/photos/<%=@photo.id%>/edit">
			Edit
		</a>	
		<a href="/photos/<%=@photo.id%>/destroy" >
			Delete
		</a>	
	<% end %>

	<%= form_tag "/comments/new/"+@photo.id.to_s do %>

		<% if @photo.user_id == session[:user_id] %>
		        <div id="ImageDetailBoxCommentMakeBoxButtonExtra" >
		<% else %>
		        <div id="ImageDetailBoxCommentMakeBoxButton" >
		<% end %>

    <% end %>

	<% @comments.each do |comment|%>
		<p>
		<% @commentUser = User.find_by_id(comment.user_id) %>
	
			<p style="font-size:16px; width:150px;">
				<%= image_tag @commentUser.image_url().to_s, :style=>'height:50px; margin-left:3%; width:50px;'%>
				<div style="font-weight:bold; width:230px; margin-left:20%; margin-top:-22%; font-size:14px;"><%= comment.content %></div>
				<p><span style="font-size:10px; background-color:red;"><%= comment.created_at %></span></p>
			</p>
		</p>
	<% end %>

		<div class="field">
            <input id="commentcontent" name="commentcontent" class="roundedbig" placeholder="Leave any comments? " size="30" type="text" />
            <button class="action green" >
        		Comment
        	</button>
        </div>

        <% if notice !=nil%>
    <div id="noticebox" style="margin-left:510px; color:maroon;">
        <%= notice %>
    </div>
    <%end%>

</div>

<script>
	var image = document.getElementById('showimage');
	offset = (984-image.width)/2
	image.style.cssText = "position:relative;left:"+offset.toString()+"px;visibility:visible";

</script>
	
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
</script>
